# PYTHON FILES
# ------------
dist/
build/
*.egg.info/
__pycache__/

# ENVIRON FILES
# ------------
main.py
.env
env/
venv/

# POETRY FILES
# ------------
poetry.lock     linguist-generated
pyproject.toml  linguist-generated